<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <title>美食专区</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <link href="../static/img/favicon.ico" rel="icon">
  
    <link href="../static/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
  
    <link href="../static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    
    <link href="../static/css/style.css" rel="stylesheet">
    
  </head>

  <body>

   

     <!-- Header -->
  <header id="header">
    <div class="container">
      <div id="logo" class="pull-left">
        <h1 onclick="goDetail('/')">美食广场</h1>
      </div>
      <nav id="nav-menu-container">
        <ul class="nav-menu">
            <li><a href="/">首页</a></li>
            <li><a href="#">联系我们</a></li>
        </ul>
      </nav>

      <nav class="nav social-nav pull-right hidden-sm-down">
        <a href="#"><i class="fa fa-weixin"></i></a>
      </nav>
    </div>
  </header><!-- #header -->
   <!-- filter -->
   <section>
       <div class="details_type container">
        <label class="pull-left">类型：</label>
            <ul class="pull-left food_details_type">
                {% for item in types %}
                    {% if item.id in active %}
                        <li class="active" onclick='goFilter("{{ item.id }}")' value="{{ item.id }}">{{ item.name }}</li>
                    {% else %}
                        <li onclick='goFilter("{{ item.id }}")'>{{ item.name }}</li>
                    {% endif %}
                {% endfor %}
{#                <li class="active">酒水</li>#}
{#                <li>美食</li>#}
{#                <li>饮料</li>#}
            </ul>
        </div>
   </section>
 
    <!-- filter -->
    
 
    <!-- About -->

    <section class="about" id="about">
      <div class="container">
        <div class="row stats-row">
            {% for shop in shops %}
              <div class="stats-col text-center col-md-3 col-sm-6" onclick="goDetail('{{ shop.desc }}')">
                  <img src="{{ shop.img }}" width="100%" alt="">
                  <p class="introduce_text">{{ shop.name }}</p>
              </div>
            {% endfor %}
        </div>
      </div>

    </section>
      
    <footer class="site-footer">
      <div class="bottom">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-xs-12 text-lg-right text-center">
              <ul class="list-inline">
                <li class="list-inline-item">
                  <a href="/">首页</a>
                </li>

                <li class="list-inline-item">
                  <a href="/">关于</a>
                </li>

                <li class="list-inline-item">
                  <a href="/">特色</a>
                </li>

                <li class="list-inline-item">
                  <a href="/">地址</a>
                </li>

                <li class="list-inline-item">
                  <a href="/">联系</a>
                </li>
              </ul>
            </div>
            
          </div>
        </div>
      </div>
    </footer>
    <a class="scrolltop" href="#"><span class="fa fa-angle-up"></span></a> <!-- JavaScript
    <!-- Required JavaScript Libraries -->
    <script src="../static/lib/jquery/jquery.min.js"></script>
    <script src="../static/lib/superfish/hoverIntent.js"></script>
    <script src="../static/lib/superfish/superfish.min.js"></script>
    <script src="../static/lib/tether/js/tether.min.js"></script>
    <script src="../static/lib/stellar/stellar.min.js"></script>
    <script src="../static/lib/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="../static/lib/counterup/counterup.min.js"></script>
    <script src="../static/lib/waypoints/waypoints.min.js"></script>
    <script src="../static/lib/easing/easing.js"></script>
    <script src="../static/lib/stickyjs/sticky.js"></script>
    <script src="../static/lib/parallax/parallax.js"></script>
    <script src="../static/lib/lockfixed/lockfixed.min.js"></script>
    
    <!-- Template Specisifc Custom Javascript File -->
    <script src="../static/js/custom.js"></script>
    <script>

        function goFilter(type_id) {
            console.log("go type " + type_id)
            window.location.href = "/q/?type_id=" + type_id;
        }

        function goDetail(url) {
            console.log("go detail " + url)
            window.location.href = url;
        }

    </script>
    
  </body>
</html>